form {
   display: flex;
   width: fit-content;
   flex-direction: column;
}

h2 {
   text-align: center;
}

.form-incident {
   display: flex;
   justify-content: center;
}

::placeholder {
   text-align: center;
}

legend {
   text-align: center;
}

.buttonSubmit {
   margin-top: 10px;
}